.homeScreenStyle h1 {
    text-align: center;
}

.container {
    background-color: goldenrod;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.hide {
    display: none;
}

.choices button {
    display: block;
    font-size: 40px;
}

#feedback {
    font-size: 32px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#question {
    font-size: 40px;
    text-align: center;
}

#buttonA, #buttonB, #buttonC, #buttonD {
    width: 50px;
}
